<table>
  <tr>
    <td> <%= inventory.tc_part %> </td>
    <td> <%= inventory.description %> </td>
    <td> <%= inventory.quantity_hand %> </td>
    <td> <%= inventory.manufacture %> </td>
  </tr>
</table>
